
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  color: #222;
}

header {
  background-color: #111;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #222;
}

nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  background-color: #444;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 30px;
}

h1, h2 {
  text-align: center;
}


.hero {
  text-align: center;
  padding: 40px 20px;
}

.hero img {
  width: 250px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px #777;
}


.story-img {
  width: 100%;
  max-width: 700px;
  display: block;
  margin: 20px auto;
  border-radius: 12px;
}


.icon-bar {
  width: 90px; /* Set a specific width */
  background-color: #555; /* Dark-grey background */
}

.icon-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font-size */
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.active {
  background-color: #04AA6D; /* Add an active/current color */
}


body {
    padding-top: 70px;
}



body {
    padding-top: 70px;
}


.video-card {
  background: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0px 0px 5px #ccc;
}

.video-card iframe {
  width: 100%;
  height: 350px;
  border-radius: 12px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



