
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

  body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    color: #222;
    text-align: center;
  }
  

  header {
    background: #111;
    color: white;
    padding: 1.5rem 0;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  nav {
    margin-top: 10px;
  }
  
  nav a {
    color: #ddd;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover,
  nav a.active {
    color: #ff4141;
  }
  

  main {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
  }
  
  .profile {
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
  }
  
  .story-img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin: 20px auto;
    display: block;
  }
  
  h1, h2, h3, p {
    margin-bottom: 15px;
    line-height: 1.6;
  }
  
  .video-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
  }
  
  .video-item {
    text-align: center;
  }
  
  iframe {
    border: none;
    border-radius: 8px;
  }
  

  footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
  }

  
