
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  color: #222;
}

header {
  background-color: #111;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #222;
}

nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  background-color: #444;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 30px;
}

h1, h2 {
  text-align: center;
}


.hero {
  text-align: center;
  padding: 40px 20px;
}

.hero img {
  width: 250px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px #777;
}


.story-img {
  width: 100%;
  max-width: 700px;
  display: block;
  margin: 20px auto;
  border-radius: 12px;
}

.navbar {
    width: 100%;
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;      
    top: 0;
    left: 0;
    z-index: 999;          
}

.nav-logo {
    font-size: 22px;
    font-weight: bold;
}


.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #f0b800;
}


body {
    padding-top: 70px;
}


.video-card {
  background: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0px 0px 5px #ccc;
}

.video-card iframe {
  width: 100%;
  height: 350px;
  border-radius: 12px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



